<h1>Weather forecast</h1>

<button class="btn btn-primary" @onclick="OnCreate">
    Create Weather forecast
</button>

@if (Forecasts?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>
                        <button class="btn btn-warning"
                            @onclick="@(() => OnEdit.InvokeAsync(forecast))">
                            Edit
                        </button>
                        <button class="btn btn-danger"
                            @onclick="@(() => OnDelete.InvokeAsync(forecast))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>No data available</span>
}

@code {

    [Parameter]
    public List<WeatherForecastListItem>? Forecasts { get; set; }

    [Parameter]
    public EventCallback OnCreate { get; set; }

    [Parameter]
    public EventCallback<WeatherForecastListItem> OnEdit { get; set; }
    
    [Parameter]
    public EventCallback<WeatherForecastListItem> OnDelete { get; set; }

}
