<div class="form-group">
    <label for="@Id">@Label</label>
    <InputText id="@Id" 
        TValue="string"
        Value="@Value"
        ValueChanged="@ValueChanged"
        ValueExpression="@ValueExpression"
        class="form-control" />
    <ValidationMessage For="@ValueExpression" />
</div>

@code {

    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public Expression<Func<string>>? ValueExpression { get; set; }


    protected override void OnParametersSet()
    {
        if(string.IsNullOrEmpty(Id))
        {
            Id = Guid.NewGuid().ToString();
        }
    }

}
